In [2]:
import os
import pandas as pd
import numpy as np

purchase_file_1 = os.path.join('purchase_data.json')
purchase_file_2 = os.path.join('purchase_data2.json')

record1 = pd.read_json(purchase_file_1, orient='records')
record2 = pd.read_json(purchase_file_2, orient='records')

In [3]:
#Concatenate purchase records
purchase_record = pd.concat([record1, record2])
purchase_record.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
#Total number of players
total_players = len(purchase_record['SN'].unique())
total_players_table = pd.DataFrame({"Total Players":[total_players]})
total_players_table

   Total Players
0            612

In [5]:
#Number of unique items
unique_items = len(purchase_record['Item Name'].unique())

#Average purchase price
avg_price = round(purchase_record['Price'].mean(), 2)

#Total number of purchases
total_purchases = len(purchase_record.index)

#Total Revenue
total_revenue = round(purchase_record['Price'].sum(), 2)

#Summary - Purchasing Analysis (Total)
total_analysis_table = pd.DataFrame({"Number of Unique Items":[unique_items],
                                     "Average Price":[avg_price],
                                     "Number of Purchases":[total_purchases],
                                     "Total Revenue":[total_revenue]})
total_analysis_table = total_analysis_table.style.format({'Average Price':'${}','Total Revenue':'${}'})
total_analysis_table

In [17]:
unique_players = purchase_record.drop_duplicates('SN')

#Percentage and count of male players
male = unique_players.loc[unique_players['Gender']=='Male',:]
male_count = len(male)
male_percent = round((male_count/total_players), 2)

#Percentage and count of female players
female = unique_players.loc[unique_players['Gender']=='Female',:]
female_count = len(female)
female_percent = round((female_count/total_players), 2)

#Percentage and count of Other/Non-Disclosed
othergender = unique_players.loc[unique_players['Gender']=='Other / Non-Disclosed',:]
othergender_count = len(othergender)
othergender_percent = round((othergender_count/total_players), 2)

#Summary  - Gender Demographics
gender_demo_table = pd.DataFrame({"Gender":["Male","Female","Other/Non-Disclosed"],
                                  "Percentage of Players": [male_percent, female_percent, othergender_percent],
                                  "Total Count":[male_count, female_count, othergender_count]})
gender_demo_table

                Gender  Percentage of Players  Total Count
0                 Male                   0.81          495
1               Female                   0.18          108
2  Other/Non-Disclosed                   0.01            9