In [2]:
import os
import pandas as pd
import numpy as np

purchase_file_1 = os.path.join('purchase_data.json')
purchase_file_2 = os.path.join('purchase_data2.json')

record1 = pd.read_json(purchase_file_1, orient='records')
record2 = pd.read_json(purchase_file_2, orient='records')

In [3]:
#Concatenate purchase records
purchase_record = pd.concat([record1, record2])
purchase_record.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [67]:
#Total number of players
unique_players = purchase_record.drop_duplicates('SN')
total_players = len(unique_players)
#total_players = len(purchase_record['SN'].unique())
total_players_table = pd.DataFrame({"Total Players":[total_players]})
total_players_table

   Total Players
0            612

In [94]:
#Number of unique items
unique_items = len(purchase_record['Item Name'].unique())

#Average purchase price
avg_price = round(purchase_record['Price'].mean(), 2)

#Total number of purchases
total_purchases = len(purchase_record.index)

#Total Revenue
total_revenue = round(purchase_record['Price'].sum(), 2)

#Summary - Purchasing Analysis (Total)
total_analysis_table = pd.DataFrame({"Number of Unique Items":[unique_items],
                                     "Average Price":[avg_price],
                                     "Number of Purchases":[total_purchases],
                                     "Total Revenue":[total_revenue]})
total_analysis_table = total_analysis_table.style.format({'Average Price':'${}','Total Revenue':'${}'})
total_analysis_table

In [84]:
#Gender Demographics

genders = purchase_record['Gender'].unique()
gender_count, gender_percent = [], []

for x in genders:
    gender_unique = unique_players.loc[unique_players['Gender']==x,:]
    gender_count.append(len(gender_unique))

gender_percent = [round((a/total_players)*100, 2) for a in gender_count]


gender_demo_table = pd.DataFrame({"Gender":["Male","Female","Other/Non-Disclosed"],
                                  "Percentage of Players": [gender_percent[0], gender_percent[1], gender_percent[2]],
                                  "Total Count":[gender_count[0], gender_count[1], gender_count[2]]})

gender_demo_table = gender_demo_table.set_index('Gender')
gender_demo_table

                     Percentage of Players  Total Count
Gender
Male                                 80.88          495
Female                               17.65          108
Other/Non-Disclosed                   1.47            9

In [107]:
#Purchasing Analysis - Gender

gender_pcount, gender_totvalue = [], []

for x in genders:
    gender_purchases = purchase_record.loc[purchase_record['Gender']==x,:]
    gender_pcount.append(len(gender_purchases))
    gender_totvalue.append(round(gender_purchases['Price'].sum(), 2))

gender_avgprice = [round(a/b, 2) for a,b in zip(gender_totvalue, gender_pcount)]
gender_norm = [round(a/b, 2) for a,b in zip(gender_totvalue, gender_count)]

gender_analysis_table = pd.DataFrame({"Gender":[genders[0],genders[1],genders[2]],
                                      "Purchase Count":[gender_pcount[0],gender_pcount[1],gender_pcount[2]],
                                      "Average Purchase Price":[gender_avgprice[0],gender_avgprice[1],gender_avgprice[2]],
                                      "Total Purchase Value":[gender_totvalue[0],gender_totvalue[1],gender_totvalue[2]],
                                      "Normalized Totals":[gender_norm[0],gender_norm[1],gender_norm[2]]})

gender_analysis_table = gender_analysis_table[['Gender',
                                               'Purchase Count',
                                               'Average Purchase Price',
                                               'Total Purchase Value',
                                               'Normalized Totals']]

gender_analysis_table = gender_analysis_table.set_index('Gender').style.format({'Average Purchase Price':'${}',
                                                                                'Total Purchase Value':'${}',
                                                                                'Normalized Totals':'${}'})

gender_analysis_table

In [115]:
unique_players.head(10)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92

In [114]:
##Age Demographics##
#ages 7-45

bins = [0,9,14,19,24,29,34,39,100]
age_range = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

ages_df = pd.cut(unique_players['Age'], bins, labels=age_range)

0     35-39
1     20-24
2     30-34
3     20-24
4     20-24
5     20-24
6     20-24
7     25-29
8     25-29
9     30-34
10    20-24
11    20-24
12    30-34
13    20-24
14      40+
15    20-24
16    20-24
17    20-24
18    25-29
19    30-34
20    20-24
21    15-19
22    10-14
23    15-19
24    10-14
25    20-24
26    25-29
28    15-19
29    15-19
30    20-24
      ...
17      <10
18    10-14
25    15-19
27    25-29
34    15-19
37    30-34
39    20-24
41    25-29
48    25-29
49    20-24
51    25-29
53    15-19
54    25-29
55    20-24
57    20-24
58    30-34
59    35-39
60    20-24
61    20-24
62    15-19
63    10-14
64    20-24
65    20-24
67    20-24
69    30-34
72    20-24
73    35-39
74    35-39
75    15-19
77    20-24
Name: Age, Length: 612, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]