In [2]:
import os
import pandas as pd
import numpy as np

purchase_file_1 = os.path.join('purchase_data.json')
purchase_file_2 = os.path.join('purchase_data2.json')

record1 = pd.read_json(purchase_file_1, orient='records')
record2 = pd.read_json(purchase_file_2, orient='records')

In [3]:
#Concatenate purchase records
purchase_record = pd.concat([record1, record2])
purchase_record.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [67]:
#Total number of players
unique_players = purchase_record.drop_duplicates('SN')
total_players = len(unique_players)
#total_players = len(purchase_record['SN'].unique())
total_players_table = pd.DataFrame({"Total Players":[total_players]})
total_players_table

   Total Players
0            612

In [94]:
#Number of unique items
unique_items = len(purchase_record['Item Name'].unique())

#Average purchase price
avg_price = round(purchase_record['Price'].mean(), 2)

#Total number of purchases
total_purchases = len(purchase_record.index)

#Total Revenue
total_revenue = round(purchase_record['Price'].sum(), 2)

#Summary - Purchasing Analysis (Total)
total_analysis_table = pd.DataFrame({"Number of Unique Items":[unique_items],
                                     "Average Price":[avg_price],
                                     "Number of Purchases":[total_purchases],
                                     "Total Revenue":[total_revenue]})
total_analysis_table = total_analysis_table.style.format({'Average Price':'${}','Total Revenue':'${}'})
total_analysis_table

In [84]:
#Gender Demographics

genders = purchase_record['Gender'].unique()
gender_count, gender_percent = [], []

for x in genders:
    gender_unique = unique_players.loc[unique_players['Gender']==x,:]
    gender_count.append(len(gender_unique))

gender_percent = [round((a/total_players)*100, 2) for a in gender_count]


gender_demo_table = pd.DataFrame({"Gender":["Male","Female","Other/Non-Disclosed"],
                                  "Percentage of Players": [gender_percent[0], gender_percent[1], gender_percent[2]],
                                  "Total Count":[gender_count[0], gender_count[1], gender_count[2]]})

gender_demo_table = gender_demo_table.set_index('Gender')
gender_demo_table

                     Percentage of Players  Total Count
Gender
Male                                 80.88          495
Female                               17.65          108
Other/Non-Disclosed                   1.47            9

In [107]:
#Purchasing Analysis - Gender

gender_pcount, gender_totvalue = [], []

for x in genders:
    gender_purchases = purchase_record.loc[purchase_record['Gender']==x,:]
    gender_pcount.append(len(gender_purchases))
    gender_totvalue.append(round(gender_purchases['Price'].sum(), 2))

gender_avgprice = [round(a/b, 2) for a,b in zip(gender_totvalue, gender_pcount)]
gender_norm = [round(a/b, 2) for a,b in zip(gender_totvalue, gender_count)]

gender_analysis_table = pd.DataFrame({"Gender":[genders[0],genders[1],genders[2]],
                                      "Purchase Count":[gender_pcount[0],gender_pcount[1],gender_pcount[2]],
                                      "Average Purchase Price":[gender_avgprice[0],gender_avgprice[1],gender_avgprice[2]],
                                      "Total Purchase Value":[gender_totvalue[0],gender_totvalue[1],gender_totvalue[2]],
                                      "Normalized Totals":[gender_norm[0],gender_norm[1],gender_norm[2]]})

gender_analysis_table = gender_analysis_table[['Gender',
                                               'Purchase Count',
                                               'Average Purchase Price',
                                               'Total Purchase Value',
                                               'Normalized Totals']]

gender_analysis_table = gender_analysis_table.set_index('Gender').style.format({'Average Purchase Price':'${}',
                                                                                'Total Purchase Value':'${}',
                                                                                'Normalized Totals':'${}'})

gender_analysis_table

In [62]:
gtest = purchase_record.loc[purchase_record['Gender']=='Other / Non-Disclosed',:]
gtest_std = gtest['Price'].std()

gtest_norm = [(i-3.15)/gtest_std for i in gtest['Price']]
gtest_norm

[0.59847035977062402,
 -0.96993472100756284,
 -0.81515790382550501,
 -1.2278960829776593,
 0.8770686306983283,
 0.12382145374564645,
 0.84611326726191638,
 0.66038108664344719,
 1.1350299926684249,
 -1.3104437188080904,
 1.207259174020052,
 -1.0628008113167975]

In [72]:
##Age Demographics##

gendertest = purchase_record['Gender'].unique()
gender_pcount, gender_totvalue = [], []

for x in gendertest:
    gender_purchases = purchase_record.loc[purchase_record['Gender']==x,:]
    gender_pcount.append(len(gender_purchases))
    gender_totvalue.append(round(gender_purchases['Price'].sum(), 2))

gender_avgprice = [round(a/b, 2) for a,b in zip(gender_totvalue, gender_pcount)]

print(gender_pcount)
print(gender_totvalue)
print(gender_avgprice)

[697, 149, 12]
[2052.28, 424.29, 37.86]
[2.94, 2.85, 3.15]

In [86]:
genders[1]

'Female'